@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white antialiased;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden;
  }

  ::selection {
    @apply bg-white text-black;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tighter;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
